* {
  margin: 0%;
  padding: 0%;
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  height: 6vh;
  width: 35vh;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 5px -2px rgba(46, 45, 45, 0.78);
-webkit-box-shadow: 3px 4px 5px -2px (46, 45, 45, 0.78);
-moz-box-shadow: 3px 4px 5px -2px (46, 45, 45, 0.78);
  cursor: pointer;
  transform: scale(1);
  transition: 0.45s;
}

.button:hover {
  transform: scale(1.05);

}
